{{define "title"}}Account Explorer{{end}}

{{define "content"}}

<div class="container px-4">
  <h1 class="title">Account {{shortHex .ViewContext.PublicKey}}</h1>
  <p class="subtitle">Total account balance: {{.ViewContext.AccountBalance}} (including <strong class="has-text-success">{{numBlocksToReward .ViewContext.TotalBlocks}}</strong> in block rewards)</p>
  <hr>

  {{if .ViewContext.TransactionInfo}}
  <h5 class="subtitle">Transactions related to this account</h5>

  <div class="table-container">
    <table class="table is-fullwidth" style="border-radius: 2rem;">
      <thead>
        <tr>
          <th>⏳ Status</th>
          <th>#️⃣ ID</th>
          <th>📤 Sender</th>
          <th>📥 Receiver</th>
          <th>💸 Balance</th>
          <th>⏰ Time</th>
          <th>💼 Has data</th>
          <th>🏷 Fee</th>
        </tr>
      </thead>
      <tbody>
      {{range .ViewContext.TransactionInfo.PendingTransactions}}
        <tr>
          <td><strong class="has-text-warning">Pending</strong></td>
          <td><a href="/dashboard/transaction?id={{.ID}}">{{shortHex .ID}}</a></td>
          <td><a href="/dashboard/account?id={{.Sender}}">{{shortHex .Sender}}</a></td>
          <td><a href="/dashboard/account?id={{.Receiver}}">{{shortHex .Receiver}}</a></td>
          {{if eq $.ViewContext.PublicKey .Receiver}}
          <td><strong class="has-text-success">+{{.Balance}}</strong></td>
          {{else}}
          <td><strong class="has-text-danger">-{{.Balance}}</strong></td>
          {{end}}
          <td>{{unixToTime .TimeUnixNano}}</td>
          <td>{{if .Data}}Yes{{else}}No{{end}}</td>
          <td>{{.Fee}}</td>
        </tr>
      {{end}}
      {{range .ViewContext.TransactionInfo.PersistedTransactions}}
        <tr>
          <td><strong class="has-text-success">In Chain</strong></td>
          <td><a href="/dashboard/transaction?id={{.ID}}">{{shortHex .ID}}</a></td>
          <td><a href="/dashboard/account?id={{.Sender}}">{{shortHex .Sender}}</a></td>
          <td><a href="/dashboard/account?id={{.Receiver}}">{{shortHex .Receiver}}</a></td>
          {{if eq $.ViewContext.PublicKey .Receiver}}
          <td><strong class="has-text-success">+{{.Balance}}</strong></td>
          {{else}}
          <td><strong class="has-text-danger">-{{.Balance}}</strong></td>
          {{end}}
          <td>{{unixToTime .TimeUnixNano}}</td>
          <td>{{if .Data}}Yes{{else}}No{{end}}</td>
          <td>{{.Fee}}</td>
        </tr>
      {{end}}
      </tbody>
    </table>
  </div>
  {{end}}

  <hr>
  <h5 class="subtitle">Recent blocks by this account</h5>
  <div class="columns is-multiline" id="last-blocks-container">
    {{range .ViewContext.LastBlocks}}
    <div class="column is-2" data-block-id="{{.ID}}">
      <a class="box" href="/dashboard/block?id={{.ID}}">
        <h5 class="subtitle">
          <strong>{{shortHex .ID}}</strong> <span class="has-text-grey">#{{.Height}}</span>
        </h5>
        <div style="background: #{{shortHex .ID}}; height: 0.25rem; border-radius: 0.125rem;"></div>
        <p class="pt-4">Published by {{shortHex .Creator}}</p>
        <p>Contains {{blockNumberOfTransactions .}} transactions</p>
      </a>
    </div>
    {{end}}
  </div>
  <h5 class="subtitle">Total blocks created by this account: {{.ViewContext.TotalBlocks}}</h5>

</div>

{{end}}
