<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">

  <title>PeerBridge - {{template "title" .}}</title>

  <link rel="stylesheet" href="/static/css/dashboard.css">
  <link rel="stylesheet" href="/static/css/bulma.min.css">
</head>
<body>

<div class="container px-4">
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="/static/img/logo.svg" alt="Logo" width="38" height="38">
      <strong class="pl-2">PeerBridge</strong>
      <span class="pl-2">Dashboard</span>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item" href="#">
        Recommended ⛽️ Price: {{.Fee}}
      </a>
      <a class="navbar-item" href="https://github.com/peerbridge">
        💻 Contribute
      </a>
    </div>
</nav>

<div class="notification is-info is-light mt-2">
  <button class="delete"></button>
  <strong>We are on Sparflamme 🔥 mode</strong>: Due to the limitations of heroku, which limits us to 10k database rows in the free plan, <strong>blocks are currently only created, when new transactions occur</strong>.
</div>

<hr class="mt-2">
</div>

<main>
  {{template "content" .}}
</main>

<hr class="mb-0 mt-6">
<footer class="has-background-dark has-text-light">
  <div class="container px-4 py-6">
    <p><b>Made with ❤️ by the PeerBridge authors.</b></p>
  </div>
</section>

<script defer src="/static/js/burger.js"></script>
<script defer src="/static/js/delete.js"></script>

</body>
</html>
