{{define "title"}}Dashboard{{end}}

{{define "content"}}

<div class="container">
  <div class="columns px-4">
    <div class="column is-3">
      <h1 class="title">Recent blocks</h1>
      <p class="subtitle">See which blocks were recently broadcasted in the  blockchain network. This overview is in real time.</p>
    </div>
    <div class="column is-9">
      <div class="columns is-multiline" id="last-blocks-container">
        {{range .LastBlocks}}
        <div class="column is-3" data-block-id="{{.ID}}">
          <a class="box" href="/dashboard/block?id={{.ID}}">
            <h5 class="subtitle">
              <strong>{{shortHex .ID}}</strong> <span class="has-text-grey">#{{.Height}}</span>
            </h5>
            <div style="background: #{{shortHex .ID}}; height: 0.25rem; border-radius: 0.125rem;"></div>
            <p class="pt-4">Published by {{shortHex .Creator}}</p>
            <p>Contains {{blockNumberOfTransactions .}} transactions</p>
          </a>
        </div>
        {{end}}
      </div>
    </div>
  </div>

  <hr>

  <div class="px-4">
    <small style="word-break: break-all;">This node: <strong>{{.PublicKey}}</strong> (secp256k1 ECDSA Public Key)</small>
  </div>
</div>

<script defer src="/static/js/dashboard.js"></script>

{{end}}
