{{define "title"}}Dashboard{{end}}

{{define "content"}}

<div class="container px-4">
  <div>
    <h1 class="title">Recent blocks</h1>
    <p class="subtitle">See which blocks were recently broadcasted in the  blockchain network. This overview is in real time.</p>
  </div>

  <div class="columns is-multiline pt-5" id="last-blocks-container">
    {{range .LastBlocks}}
    <div id="b-{{.ID}}" class="column is-2">
      <a class="box" href="/dashboard/block?id={{.ID}}">
        <h5 class="subtitle">
          📦 <strong>{{shortHex .ID}}</strong> <span class="has-text-grey">#{{.Height}}</span>
        </h5>
        <div style="background: #{{shortHex .ID}}; height: 0.25rem; border-radius: 0.125rem;"></div>
        <p class="pt-4">Published by {{shortHex .Creator}}</p>
        <p>Contains {{blockNumberOfTransactions .}} transactions</p>
      </a>
    </div>
    {{end}}
  </div>

  <hr>

  <h5 class="subtitle">Recent Transactions</h5>
  <div class="table-container">
    <table class="table is-fullwidth" style="border-radius: 2rem;">
      <thead>
        <tr>
          <th>⏳ Status</th>
          <th>#️⃣ ID</th>
          <th>📤 Sender</th>
          <th>📥 Receiver</th>
          <th>💸 Balance</th>
          <th>⏰ Time</th>
          <th>💼 Has data</th>
          <th>🏷 Fee</th>
        </tr>
      </thead>
      <tbody id="transaction-container">
      {{range .LastTransactions}}
        <tr id="t-{{.ID}}">
          <td><strong class="has-text-success">In Chain</strong></td>
          <td><a href="/dashboard/transaction?id={{.ID}}">{{shortHex .ID}}</a></td>
          <td><a href="/dashboard/account?id={{.Sender}}">{{shortHex .Sender}}</a></td>
          <td><a href="/dashboard/account?id={{.Receiver}}">{{shortHex .Receiver}}</a></td>
          <td>{{.Balance}}</td>
          <td>{{unixToTime .TimeUnixNano}}</td>
          <td>{{if .Data}}Yes{{else}}No{{end}}</td>
          <td>{{.Fee}}</td>
        </tr>
      {{end}}
      </tbody>
    </table>
  </div>

  <hr>

  <small style="word-break: break-all;">This node: <a href="/dashboard/account?id={{.PublicKey}}"><strong>{{.PublicKey}}</strong></a> (secp256k1 ECDSA Public Key)</small>
</div>

<script defer src="/static/js/dashboard.js"></script>

{{end}}
