{{define "title"}}Transaction Explorer{{end}}

{{define "content"}}

<div class="container px-4">
  <h1 class="title">Transaction {{shortHex .ViewContext.Transaction.ID}}</h1>
  <h5 class="subtitle">Included in block 📦 <a href="/dashboard/block?id={{.ViewContext.Block.ID}}">{{shortHex .ViewContext.Block.ID}}</a></h5>
  <hr>
  <h5 class="subtitle">Transaction overview</h5>
  <div class="table-container">
    <table class="table is-fullwidth" style="border-radius: 2rem;">
      <thead>
        <tr>
          <th>#️⃣ ID</th>
          <th>📤 Sender</th>
          <th>📥 Receiver</th>
          <th>💸 Balance</th>
          <th>⏰ Time</th>
          <th>💼 Has data</th>
          <th>🏷 Fee</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td><a href="/dashboard/transaction?id={{.ViewContext.Transaction.ID}}">{{shortHex .ViewContext.Transaction.ID}}</a></td>
        <td><a href="/dashboard/account?id={{.ViewContext.Transaction.Sender}}">{{shortHex .ViewContext.Transaction.Sender}}</a></td>
        <td><a href="/dashboard/account?id={{.ViewContext.Transaction.Receiver}}">{{shortHex .ViewContext.Transaction.Receiver}}</a></td>
        <td>{{.ViewContext.Transaction.Balance}}</td>
        <td>{{unixToTime .ViewContext.Transaction.TimeUnixNano}}</td>
        <td>{{if .ViewContext.Transaction.Data}}Yes{{else}}No{{end}}</td>
        <td>{{.ViewContext.Transaction.Fee}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <hr>
  <h5 class="subtitle">Raw data</h5>
  <pre style="border-radius: 0.5rem;">{{jsonify .ViewContext.Transaction}}</pre>
</div>
{{end}}
